@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');

html, body {
  margin: 0; 
  padding: 0;
}

.main {
  background-image: url("background.jpg");
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 100vh;
  margin: 0; 
  padding: 0;
}

.content {
  
  background-color: rgb(22, 158, 182, 0.75);
  padding: 0%;
  width: 500px;
  height: 100%;
  margin: auto;
  text-align: center;
  overflow: auto;

  box-shadow:
  0 0px 7.8px rgba(0, 0, 0, 0.211),
  0 0px 17.2px rgba(0, 0, 0, 0.31),
  0 0px 28.8px rgba(0, 0, 0, 0.383),
  0 0px 43.4px rgba(0, 0, 0, 0.444),
  0 0px 62.6px rgba(0, 0, 0, 0.5),
  0 0px 88.6px rgba(0, 0, 0, 0.556),
  0 0px 125.7px rgba(0, 0, 0, 0.617),
  0 0px 182.5px rgba(0, 0, 0, 0.69),
  0 0px 281.3px rgba(0, 0, 0, 0.789),
  0 0px 500px rgba(0, 0, 0, 1)
;
}

h1 {
  font-size: 60px;
  padding: 0px;
  padding-top: 10%;
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
}
h2 {
  padding: 0px;
  margin-top: 20px;
  font-family: 'JetBrains Mono', monospace;
}

label {
  padding-top: 0px;
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
}

p {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'JetBrains Mono', monospace;
}
input {
  width: 250px;
  font-family: 'JetBrains Mono', monospace;
  
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
}

select {
  width: 250px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;

  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

button {
  text-align: center;
  margin-top: 20px;
  font-family: 'JetBrains Mono', monospace;

  border: 0;
  border: 2px solid black;
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
}

.asunnot {
  border-bottom: 2px solid black;
}