.main {
  background-image: url("tausta2.jpg");
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
p {
  color: rgb(0, 0, 0);
  text-indent: 30px;
  font: 300;
  
}
.content {
  
  background-color: rgb(22, 158, 182);
  padding: 5%;
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
}

.bottom {
  background-image: url("footer.jpg");
  background-color: black;
  color: white;
  margin: 0;
  margin-top: 10px;
  padding: 30px;
  text-align: center;
}