.main {
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

.content {
  background-color: white;
  padding: 5%;
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
}
.bottom {
  background-color: black;
  color: white;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}